[Unit]
Description=Notification batterie régulière

[Timer]
OnBootSec=5s
OnUnitActiveSec=5s
Unit=battery-notification.service

[Install]
WantedBy=default.target
