blueman
bluez
bluez-utils
breeze-gtk
brightnessctl
chromium
ddcutil
discord
downgrade
fastfetch
firefox
firefox-i18n-fr
firewalld
galculator
grim
hyprland
hyprlock
jfsutils
jq
keyd
kitty
marktext-bin
megacmd
neovim
nodejs
npm
nvidia
nvidia-utils
papirus-icon-theme
pavucontrol
pkgfile
plocate
poppler-glib
power-profiles-daemon
python
python-defusedxml
python-packaging
python-pillow
python-pyqt6
python-pywal
python-pywalfox
python-setuptools
qemu-full
rebuild-detector
reflector
reflector-simple
rofi-wayland
slurp
starship
swayimg
swww
thunar
tidal-hifi
ttf-cascadia-code
ttf-font-awesome
ttf-mononoki-nerd
unrar
unzip
upower
virt-manager
virt-viewer
visual-studio-code-bin
vlc
waybar
wireplumber
wl-clipboard
