#workspaces button.active {
    color: #817E78;
}
#workspaces,
#window,
#custom-taskbar,
#custom-cpu,
#network,
#custom-configuration,
#custom-power {
    background: linear-gradient(90deg, #817E78, #676460);
}

#custom-os_button,
#custom-musicplayer,
#pulseaudio,
#pulseaudio-slider,
#custom-gpuNmemory,
#clock {
    background: linear-gradient(90deg, #676460, #817E78);
}

#custom-separator,
#battery,
#battery.charging,
#battery.plugged,
#battery.critical:not(.charging) {
    background: #676460;
}

tooltip {
    background: linear-gradient(135deg, #817E78, #676460);
}
