#workspaces,
#window,
#custom-taskbar,
#custom-cpu,
#network,
#custom-configuration,
#custom-power {
    background: linear-gradient(90deg, #CFA652, #a58441);
}

#custom-os_button,
#custom-musicplayer,
#pulseaudio,
#custom-gpuNmemory,
#clock {
    background: linear-gradient(90deg, #a58441, #CFA652);
}

#custom-separator,
#battery,
#battery.charging,
#battery.plugged,
#battery.critical:not(.charging) {
    background: #a58441;
}

tooltip {
    background: linear-gradient(135deg, #CFA652, #a58441);
}
