#workspaces button.active {
    color: #60A0A2;
}
#workspaces,
#window,
#taskbar,
#custom-cpu,
#network,
#custom-configuration,
#custom-power {
    background: linear-gradient(90deg, #60A0A2, #4c8081);
}

#custom-os_button,
#custom-musicplayer,
#pulseaudio,
#pulseaudio-slider,
#custom-gpuNmemory,
#clock {
    background: linear-gradient(90deg, #4c8081, #60A0A2);
}

#custom-separator,
#battery,
#battery.charging,
#battery.plugged,
#battery.critical:not(.charging) {
    background: #4c8081;
}

tooltip {
    background: linear-gradient(135deg, #60A0A2, #4c8081);
}
