#workspaces button.visible {
    color: #F76808;
}
#workspaces,
#window,
#taskbar,
#custom-cpu,
#network,
#custom-configuration,
#custom-power {
    background: linear-gradient(90deg, #F76808, #c55306);
}

#custom-os_button,
#custom-musicplayer,
#pulseaudio,
#pulseaudio-slider,
#custom-gpuNmemory,
#clock {
    background: linear-gradient(90deg, #c55306, #F76808);
}

#custom-separator,
#battery,
#battery.charging,
#battery.plugged,
#battery.critical:not(.charging) {
    background: #c55306;
}

tooltip {
    background: linear-gradient(135deg, #F76808, #c55306);
}
