#custom-os_button,
#workspaces,
#custom-musicplayer,
#window,
#custom-taskbar,
#pulseaudio,
#custom-cpu,
#custom-gpuNmemory,
#network,
#battery,
#battery.charging, #battery.plugged,
#battery.critical:not(.charging),
#clock,
#custom-configuration,
#custom-power,
#custom-separator,
#pulseaudio-slider {
    background-color: #9C2F18;
}

tooltip {
    background: #9C2F18;
}
