
/*
                       _                        _         _      
  __      ____ _ _   _| |__   __ _ _ __     ___| |_ _   _| | ___ 
  \ \ /\ / / _` | | | | '_ \ / _` | '__|   / __| __| | | | |/ _ \
   \ V  V / (_| | |_| | |_) | (_| | |      \__ \ |_| |_| | |  __/
    \_/\_/ \__,_|\__, |_.__/ \__,_|_|      |___/\__|\__, |_|\___|
                 |___/                              |___/        

*/


* {
    font-family: Inter, Symbols Nerd Font, monospace;
    font-size: 12.5px;
    font-weight: 600;
    color: #ffffff;
    background-color: transparent;
    border-radius: 18px;
}

#custom-os_button {
    font-size: 1.3rem;
    padding: 8px 13px;
    margin-left: 15px;
    margin-right: 4px;
}

#workspaces {
    padding: 8px 11px;
    margin-left: 4px;
    margin-right: 4px;
}

#workspaces button {
    padding: 0px 4px;
    font-weight: 100;
    border-color: transparent;
}

#workspaces button:hover {
    font-weight: 100;
    background: inherit;
    color: inherit;
    box-shadow: none;
}

#workspaces button.active:hover {
    background: transparent;
    border-color: transparent;
}

#custom-musicplayer {
    padding: 8px 14px;
    margin-left: 4px;
    margin-right: 4px;
}

#custom-taskbar {
  font-size: 20px;
  padding-right: 18px;
}

#pulseaudio {
    padding: 8px 18px;
    font-size: 18px;
}

#custom-cpu {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 8px;
    padding-left: 18px;
    margin-left: 4px;
}

#custom-gpuNmemory {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 8px;
    padding-right: 18px;
    margin-right: 4px;
}

#network {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 18px;
    padding-right: 8px;
    margin-left: 4px;
}

#network.disconnected {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 18px;
    padding-right: 8px;
    margin-left: 4px;
    color: #990F02;
}

#battery {
    padding-left: 8px;
    border-radius: 0;
    padding-right: 8px;
}

#battery.charging, #battery.plugged {
    padding-left: 8px;
    border-radius: 0;
    padding-right: 8px;
    color: #0a9418;
}

#battery.critical:not(.charging) {
    padding-left: 8px;
    border-radius: 0;
    padding-right: 8px;    
    color: #990F02;
}

#battery.full {
    padding-left: 8px;
    border-radius: 0;
    padding-right: 8px;    
    color: #FBE106;
}

#clock {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 8px;
    padding-right: 18px;
    margin-right: 4px;
}

#custom-power {
    padding: 8px 16px;
    margin-right: 4px;
}

#custom-separator {
    border-radius: 0;
}

tooltip {
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 13px 10px 0px 0px;
}

@import url("colors-wal.css");
