[Desktop Entry]
Version=1.0
Name=Calculator
Comment=Perform simple and scientific calculations
Comment[fr]=Effectuer des calculs simples et scientifiques
Exec=galculator
Icon=galculator
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
